@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fe59d7;
  background-image: url("https://images.unsplash.com/photo-1592441975174-595b836d8f7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  height: 100vh;
}
